.footer {
    margin-top: auto;
    max-width: 100%;
    background-color: #1E3A5F;
    padding: 2vh 2vw;
    box-shadow: 0 4px 6vw rgba(0, 0, 0, 0.6); 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Urbanist", sans-serif; 
    gap: 2vh;
}

.titulo {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    color: #F5F5F5;
}

.parte-01 {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}

.redes-sociais {
    width: 22vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    padding: 1vh;
}

.redes-sociais .logos {
    display: flex;
    gap: 1vw;
    align-items: center;
    padding: 1vh;
}

i.bi {
    font-size: 3vw;
    color: #F5F5F5;
}

.assinatura {
    width: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -1vw; /* Conferir se é uma má prática */
    padding-bottom: 3vh;
}

.assinatura .mascote {
    width: 6vw;
    transform: scaleX(-1);
}

.assinatura .logo-branca {
    width: 16vw;
    height: auto;
}

.assinatura-ej {
    width: 22vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    padding: 1vh;
}

.assinatura-ej .imagem {
    width: 5vw;
    height: auto;
}

.parte-02 {
    width: 95%;
    border-top: 0.2vw solid #F5F5F5;
    padding: 3vh 1vw;
    display: flex;
    gap: 3vw;
    justify-content: space-between;
    align-items: flex-start;
}

.missao, .visao, .valores {
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh; 
    padding: 1vh;
}

.missao .conteudo, .visao .conteudo, .valores .conteudo {
    display: none;
    font-size: 1.5vw;
    font-weight: semibold;
    text-align: center;
    color: #F5F5F5;
    margin-top: 1vh;
}

.missao:hover .conteudo, .visao:hover .conteudo, .valores:hover .conteudo {
    display: block;
}

/* Responsividade */

/* Tablet */
@media (max-width: 834px) {
    .footer {
        gap: 4vh;
    }
    .parte-01 {
        flex-direction: column;
        align-items: center;
        gap: 2vh; /* Espaçamento maior entre as seções */
        width: 90%;
    }
    .redes-sociais, .assinatura, .assinatura-ej, .missao, .visao, .valores {
        width: 85%;
    }
    .redes-sociais .logos i.bi {
        font-size: 5vw; 
    }
    .titulo {
        font-size: 4vw;
    }
    .assinatura .mascote {
        width: 14vw;
    }
    .assinatura .logo-branca {
        width: 26vw;
    }
    .assinatura-ej .imagem {
        width: 10vw;
    }
    .parte-02 {
        flex-direction: column;
        align-items: center;
        gap: 0vh; 
        width: 90%;
    }
    .missao .conteudo, .visao .conteudo, .valores .conteudo {
        font-size: 3vw;
    }
}