*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/FundoUsuários.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 100vh;

}
.fundo{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: rgba(13, 13, 13, 0.8);
    font-family: "urbanist", sans-serif;
}
.descricao img{
    width: 12%;
}

.descricao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    font-weight: 480;
    font-size: larger;
}
.Titulo {
    display: flex;
    align-items: center;
    width: 50%;
    height: 80%;
}

.Titulo h1{
    font-family: "staatliches", sans-serif;
    color: white;
    font-size: 400%;
    padding-left: 5%;
    letter-spacing: 1.8px;
}

.createButton{
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 140%;
    height: 16%;
    width: 14%;
}

table{
    background: #1E3A5F;
    width: 95%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 140%;
    border-collapse:collapse;

}
tr{
    color: white;
    font-size: 140%;
    height: 10%;
}
td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px ;
}
td i{
    background-color: white;
    color: black;
    font-size: 100%;
    cursor: pointer;
    padding: 2% 3% 2% 3%;
    border-radius: 15px;
}


.paginacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1%;

}

.skip, .paginas{
    display: flex;
    justify-content: center;
    background-color: white;
    color:black;
    border-radius: 18px;
    width: 3%;
    height: 20%;
    font-size: 210%;
}

.skip:hover, .paginas:hover{
    background-color: #1E3A5F;
    color: white;
    cursor: pointer;

}

th{
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.7);
}

.bi-eye-fill, .bi-pencil-square, .bi-trash3-fill{
    margin:1%;
}



/*Responsividades*/
/*Celulares*/

/*Iphone SE*/
@media only screen and (max-width: 375px) {
    .descricao {
        flex-direction: column;
    }

    .Titulo {
        width: 100%;
    }

    .Titulo h1 {
        font-size: 200%; 
        padding-left: 0;
        text-align: center;
        width: 70%;
    }

    .Titulo img {
        width: 36%;
        padding-left: 10%;
    }

    .createButton {
        width: 52%;
        height: 20%;
        font-size: 120%;
        margin-bottom: 8%;
    }

    table {
        width: 99%;
        font-size: 70%;
    }

    td i {
        font-size: 100%;
        padding: 5%;
        border-radius: 30%;
    }

    .paginacao {
        gap:10px;
        width: 60%;
        height: 30%;
    }

    .skip, .paginas {
        align-items: center;
        width: 15%;
        height: 100%;
        font-size: 100%;
        border-radius: 10px;
    }
    .operacoes{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }
}

/*Iphone XR*/
@media only screen and (min-width: 376px) and (max-width: 430px) {
    .descricao {
        flex-direction: column;
    }
    .Titulo {
        width: 100%;
        height: 60%;
    }

    .Titulo h1 {
        font-size: 230%; 
        padding-left: 0;
        text-align: center;
        width: 70%;
    }

    .Titulo img {
        width: 40%;
        padding-left: 10%;
    }

    .createButton {
        justify-content: center;
        width: 60%;
        height: 16%;
        font-size: 160%;
        margin-bottom: 8%;
    }

    table {
        width: 99%;
        font-size: 70%;
    }

    td i {
        font-size: 100%;
        padding: 5%;
        border-radius: 30%;
    }

    .paginacao {
        gap: 8px;
        width: 60%;
        height: 20%;
    }

    .skip, .paginas {
        align-items: center;
        width: 15%;
        height: 100%;
        font-size: 100%;
        border-radius: 10px;
    }
    .operacoes{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }
}

/*Tablets*/
/*Ipad mini/ Ipad Air*/
@media only screen and (min-width: 431px) and (max-width: 1023px){
    .descricao {
        flex-direction: column;
    }
    .Titulo {
        
        width: 100%;
        height: 60%;
        padding-top: 10%;
    }

    .Titulo h1 {
        font-size: 320%; 
        padding-left: 0;
        text-align: center;
        width: 100%;
    }

    .Titulo img {
        width: 30%;
        padding-left: 10%;
    }

    .createButton {
        width: 40%;
        height: 12%;
        font-size: 180%;
        margin-bottom: 8%;
    }

    td i {
        font-size: 100%;
        padding: 3%;
        border-radius: 30%;
    }

    .paginacao {
        gap: 8px;
        width: 50%;
        height: 34%;
    }

    .skip, .paginas {
        align-items: center;
        width: 13%;
        height: 100%;
        font-size:160%;
        border-radius: 14px;
    }
    .operacoes{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        font-size: 80%;
    }
}

/*Ipad Pro*/
@media only screen and (min-width: 1024px) and (max-width: 1024px){
    .descricao {
        flex-direction: column;
    }
    .Titulo {
        
        width: 100%;
        height: 48%;
        padding-top: 10%;
    }

    .Titulo h1 {
        font-size: 380%; 
        padding-left: 0;
        text-align: center;
        width: 100%;
    }

    .Titulo img {
        width: 36%;
        padding-left: 10%;
    }

    .createButton {
        width: 43%;
        height: 13%;
        font-size: 280%;
        margin-bottom: 8%;
    }


    td i {
        font-size: 100%;
        padding: 5%;
        border-radius: 30%;
    }

    .paginacao {
        gap: 8px;
        width: 60%;
        height: 40%;
    }

    .skip, .paginas {
        align-items: center;
        width: 13%;
        height: 100%;
        font-size: 200%;
        border-radius: 14px;
    }
    .operacoes{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }
}

/*Surface Duo*/