*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

body{
    background-image: url(../assets/fundoListaPosts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

body * {
    font-family: "Urbanist", sans-serif;
    color: #F5F5F5;

}

#conteudo{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 40px;
}

#barraDePesquisa{
    height: 79px;
    padding: 10px;
    margin: auto;
}

#caixaDePesquisa{
    padding: 10px 30px;
    width: 558px;
    height: 59px;
    border-radius: 200px;
    background: rgb(0,11,26,0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: auto;
    box-shadow: 0 4px 15px #0D0D0D;
    /*filter: drop-shadow(0 4px 15px #0D0D0D);*/
}


#inputPesquisa{
    background-color: transparent;
    width: 410px;
    display: inline-block;
    font-weight: 300;
    font-size: 16;
    line-height: 20px;
    padding: 10px;
    border-color: transparent;
    outline: none;
}

#inputPesquisa::placeholder{
    color: rgb(245, 245, 245, 0.55)
}

.bi{
    font-size: 20px;
    padding: 10px;
    color: #427AC4;
}
.bi-x-lg{

}

ul{
    list-style: none;
}

#listaDePosts{
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    gap: 50px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.caixaPosts{
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
}


.post{
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 370px;
    text-align: center;
    font-size: 16px;
    background: rgb(12, 28, 49, 0.8);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 8px;
    text-decoration: none;
    transition: all .5s;
    box-shadow: 0 4px 15px #0D0D0D;
    border: 1px solid transparent;
}
.post img{
    padding: 10px 15px;
}

.textoPost{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textoPost h1{
    font-family: "Staatliches", sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.textoPost p{
    font-weight: 400;
    padding: 12px;
}

.post:hover{
    border: 1px solid rgb(245, 245, 245, 0.5);
    scale: 1.05;
}

#paginacao{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}

#paginacao a{
    display: flex;
    width: 47px;
    height: 34px;
    background: rgb(0,11,26,0.8);
    border-radius: 200px;
    box-shadow: 0 4px 15px #0D0D0D;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
}

#paginacao .bi{
    color:#F5F5F5;
    font-weight: 400;
    padding: 10px;
}

#paginacao .paginas{
    padding: 5px 18px;
    font-weight: 300;
}

#paginacao a:hover{
    background: rgb(0,11,26,0.3);
    border:1px solid rgb(245, 245, 245, 0.4);
}