*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/FundoUsuários.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 100vh;

}
.fundo{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: rgba(13, 13, 13, 0.8);
    font-family: "urbanist", sans-serif;
}
.descricao img{
    width: 28%;
}

.descricao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    font-weight: 480;
    font-size: larger;
}
.Titulo {
    display: flex;
    align-items: center;
    width: 50%;
    height: 80%;
}
.Titulo img{
    width: 12%;
}
.Titulo h1{
    font-family: "staatliches", sans-serif;
    color: white;
    font-size: 400%;
    padding-left: 5%;
    letter-spacing: 1.8px;
}

.createButton{
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 140%;
    height: 16%;
    width: 14%;
}

table{
    background: #1E3A5F;
    width: 95%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 140%;
    border-collapse:collapse;

}
tr{
    color: white;
    font-size: 140%;
    height: 10%;
}
td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px ;
}
td i{
    background-color: white;
    color: black;
    font-size: 100%;
    cursor: pointer;
    padding: 2% 3% 2% 3%;
    border-radius: 15px;
}


.paginacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1%;

}

.skip, .paginas{
    display: flex;
    justify-content: center;
    background-color: white;
    color:black;
    border-radius: 18px;
    width: 3%;
    height: 20%;
    font-size: 210%;
}

.skip:hover, .paginas:hover{
    background-color: #1E3A5F;
    color: white;
    cursor: pointer;

}

th{
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.7);
}

.bi-eye-fill, .bi-pencil-square, .bi-trash3-fill{
    margin:1%;
}
