* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/ImagemRastrosDeRua.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 100vh;
}

.fundo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.75); 
    border-radius: 25px;
}


.login{
    
    width: 40%;
    height: 60%;
    text-align: center;
}

.texto {
    
    font-family: "Staatliches", sans-serif;
    font-weight: 200;
    font-size: 400%;
    font-style: normal;
    align-content: center;
    opacity: 0.9;
    background: linear-gradient(to bottom, #FF6F00 30%, #8A2BE2 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Urbanist", sans-serif;
    font-weight: 200;
    font-size: 100%;
    font-style: normal;
    width: 90%;
    height: 70%;
    
}

.email{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start ;
    width: 100%;
    height: 30%;;
    
}

.senha{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start ;
    width: 100%;
    height: 30%;
    position: relative;
}

.tituloEmail{
    color: white;
    padding-left: 10px;
    font-size: 350%;
}

.tituloSenha{
    color: white;
    padding-left: 8px;
    font-size: 350%;
}

#email{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: white;
    opacity: 0.8;
}

#senha{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: white;
    opacity: 0.8;

}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 30%;
    font-family: "Urbanist", sans-serif;
    font-weight: 200;
    font-size: 100%;
    
}

.entrarBotao{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    height: 40%;
    width: 100%;
    background-color: white;
    font-size:280%;
    font-family: "Urbanist", sans-serif;
;
}

.textoBotao{

    background: linear-gradient(to bottom, #FF6F00 30%, #8A2BE2 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
}

.senha i{
    font-size: 300%;
    position: absolute;
    top: 55%;
    right: 5%;
    color: black;
    
}




/*celulares*/
@media only screen and (min-width: 0px) and (max-width: 430px) {
    .fundo{
        width: 70%;
        height: 60%;
        font-size: 60%;
    }
    .infos{
        height: 70%;
        width: 80%;
    }
    .botao{
        width: 80%;
        height: 25%;
    }
    .entrarBotao
    {
        width: 55%;
    }
    .tituloEmail{
        font-size: 300%;
    }
    .tituloSenha{
        font-size: 300%;
    }
    .email{
        height: 20%;
    }
    .senha{
    
        height: 20%;
    }
    .senha i{
        font-size: 240%;  
    }
}
/*tablets*/
@media only screen and (min-width: 431px) and (max-width: 1024px) {
    .fundo{
        width: 70%;
        height: 60%;
        font-size: 100%;
        
    }
    .infos{
        height: 70%;
        width: 80%;
    }
    .botao{
        width: 50%;
        height: 32%;
    }
    .entrarBotao
    {
        width: 70%;
    }
    .textoBotao{
        font-size: 150%;
    }
    .tituloEmail{
        font-size: 350%;
    }
    .tituloSenha{
        font-size: 350%;
    }
    .email{
        height: 28%;
    }
    .senha{
        height: 28%;
    }
    .senha i{
        font-size: 280%;
    }
}
/*laptops*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .fundo{
        width: 40%;
        height: 70%;
        font-size: 100%;
    }
    .infos{
        height: 70%;
    }
    .botao{
        width: 25%;
        height: 35%;
    }
    .entrarBotao
    {
        width: 100%;
        height: 45%;
    }
    .textoBotao{
        font-size: 90%;
    }
    .tituloEmail{
        font-size: 200%;
    }
    .tituloSenha{
        font-size: 200%;
    }
    .email{
        
        height: 30%;
    }
    .senha{
    
        height: 30%;
    }
    .senha i{
        font-size: 200%;
        top: 52%;
    }
}