.modalVisualizar{ /*fundo que nao aparece do modal*/
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(26, 26, 26, 0.466);
    opacity: 0;
    transition: all 0.5s ease;
    top: 0%;
}

.visualizar{/*fundo branco do modal*/
    font-size: 26px;
    color: #1E3A5F;
    font-family: 'Staatliches', sans-serif;
    width: 60vw;
    height: fit-content;
    background-color: #F5F5F5;
    border-radius: 8px;
    padding: 0px;
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    filter: drop-shadow(5px 5px 10px #000000);
    row-gap: 10px;
    overflow-y: scroll;
    max-height: 90%;
    top: 10%;
    left: 15%;
}
.tituloModalVisualizar{ /*Titulo Visualizar Publicação*/
    font-size: 30px;
    padding: 5px 5px;
    text-align: center;
    width: 100%;
    background-color: #1E3A5F;
    color: #F5F5F5;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px ;
}
.visualizarBotao{ /*Div do botao fechar*/
    font-family: 'Staatliches', sans-serif;
    width: fit-content;
    height: fit-content;
    background-color: #1E3A5F;
    color: #F5F5F5;
    font-size: 24px;
    padding: 4px 16px;
}
.visualizarBotao:hover { /*Faz o botao ficar maior ao passar o mouse*/
    transition: all 0.3s;
    background-color: #B22222;
}
.botaoVisualizar{/*Div interna que configura o botao*/
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 20px;
}
.conteudoTagVisualizar { /*conteudo da tag*/
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.conteudoTagVisualizar img{/*Imagem da tag*/
    width: 168px;
    background-color: #1E3A5F;
    padding:3%;
    border-radius: 8px;
    border: 2px solid #ccc;
}
.conteudoArteVisualizar{ /*Conteudo da arte*/
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    height: fit-content;
    width: 60%;
    align-items: start;
    justify-content: center;
}
.arteVisualizar{/*Limita o tamanho maximo da imagem*/
    width: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arteVisualizar img{ /*Imagem da arte*/
    width:100%;
    border-radius: 8px;
    background-color: #1E3A5F;
    padding: 2%;
    border: 2px solid #ccc;
}
.dataLocalVisualizar{ /*Configura o local e data*/
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    gap: 3%;
}
.conteudoTituloVisualizar,
.conteudoAutorVisualizar,
.conteudoDescricaoVisualizar,
.conteudoLocalVisualizar,
.conteudoDataVisualizar,
.conteudoMateriaisVisualizar{ /*Altera todos os titulos das divs*/
    background-color: #1E3A5F;
    width: 100%;
    padding: 8px 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 20px;
    transition: all 0.3s ease;
    font-family: 'Urbanist', sans-serif;
    color: #F5F5F5;
}
.dataVisualizar{
    width: 50%;
}
.conteudoDataVisualizar{ /*Algumas configs especificas da data*/
    width: 100%;
    text-align: center;
}
.conteudoLocalVisualizar{ /*Config especifica do local*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    white-space: nowrap;
    width: 100%;
    text-decoration: none;
}
.conteudoLocalVisualizar:hover{
    transform: scale(1.03);
    transition: all 0.2s;
    background-color: #0C1C31; 
}
.arteContent{ /*Titulo que fica em cima da arte*/
    display: flex;
    justify-content: left;
}
.localVisualizar { /*Configura o local*/
    width: 50%;
    height: 100%;
}
.descricaoModalVisualizar{ /*Configura a descrição*/
    width: 90%;
}
.materiaisModalVisualizar{ /*Configura os materiais*/
    width: 90%;
}
.conteudoDescricaoVisualizar{ /*Textp dentro da descrição*/
    resize: none;
    overflow: auto;
    display: block;
    width: 100%;
}

.imagensVisualizar{ /*Configura a arte junto com os campos titulo, autor e tag*/
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    gap: 3%;
}
.tagVisualizar{ /*TAg*/
    align-items: start;
    width: 200px;
}

.campos{/*Contem o titulo,autor e tag*/
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 4px;
}
.conteudoDescricaoVisualizar,.conteudoMateriaisVisualizar{/*Configura os campos descrição e materiais*/
    resize: none;
    overflow: hidden;
    min-height: fit-content;
}

/*Responsividade*/
/*Celulares*/
@media only screen and (min-width: 0px) and (max-width: 430px){
    .tituloModalVisualizar{
        font-size: 20px;
    }
    .visualizar{
        top: 4%;
        width: 70vw;
        row-gap: 1px;
    }
    .arteVisualizar{
        width: 100%;
        align-content: center;
    }
    .tagVisualizar{
        width: 100%;
        align-content: center;
        text-align: center;
    }
    .conteudoTagVisualizar{
        width: 100%;
        align-items: center;
    }
    .conteudoTagVisualizar img{
        width:70%;
        padding: 1.5%;
    }   
    .conteudoArteVisualizar img{
        width:100%;
        margin-left: 0;
    }   
    .conteudoArteVisualizar{
        width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .imagensVisualizar{
        flex-direction: column;
        align-items: center;
    }
    .campos{

        width:100%;
    }
    .arteContent{
        width: 100%;
       justify-content: center;
       padding-left: 2px;
    }
    .ConteudoLocalVisualizar{
        width: 60%;
    }
    p.conteudoAutorVisualizar,.conteudoDescricaoVisualizar,.ConteudoLocalVisualizar,.conteudoLocalVisualizar,.conteudoDataVisualizar,p.conteudoTituloVisualizar,textArea.conteudoMateriaisVisualizar{
        padding: 2%;
        font-size: 18px;
    }
    .arteContent,p.tituloAutorVisualizar,.tagVisualizar p,p.tituloDescricaoVisualizar,p.TituloLocalVisualizar,p.visualizarData,p.tituloMateriaisVisualizar,p.TituloTituloVisualizar{
        font-size: 20px;
        text-align: center;
    }
    .localVisualizar{
        width:100%;
    }
    .botaoVisualizar{
        padding-bottom: 10px;
    }
    .visualizarBotao{
        font-size: 20px;
        border-radius: 8px;
    }
    .dataLocalVisualizar
    {
        flex-direction: column;
    }
    .dataVisualizar{
        width: 100%;
    }

}

/*Tablets*/
@media only screen and (min-width: 431px) and (max-width: 1366px){
    .tituloModalVisualizar{
        font-size: 30px;
    }
    .visualizar{
        top: 5%;
        width: 55vw;
        row-gap: 4px;
        left: 22%;
    }
    .arteVisualizar{
        width: 100%;
        align-content: center;
    }
    .tagVisualizar{
        width: 100%;
        text-align: center;
    }
    .conteudoTagVisualizar{
        width: 100;
        align-items:center ;
    }
    .conteudoTagVisualizar img{
        width:50%;
        background-color: #1E3A5F;
        border-radius: 8px;
        padding: 0.9%;
    }   
    .conteudoArteVisualizar{
        align-items: center;
        width: 100%;
    }
    .conteudoArteVisualizar img{
        width: 100%;
        margin-left: 0;
        padding: 1%;
    }   

    .imagensVisualizar{
        flex-direction: column;
        align-items: center;
    }
    .campos{
        width:100%;
    }
    .arteContent{
        width:100%;
       justify-content: center;
       padding-left: 2px;
    }
    .ConteudoLocalVisualizar{
        width: 100%;
    }
    p.conteudoDataVisualizar{
        width: 100%;
    }
    p.conteudoAutorVisualizar,p.conteudoTituloVisualizar,.conteudoDescricaoVisualizar,.ConteudoLocalVisualizar,.conteudoLocalVisualizar,.conteudoDataVisualizar,textArea.conteudoMateriaisVisualizar{
        padding: 1%;
        font-size: 23px;
    }
    .arteContent,p.TituloTituloVisualizar,p.tituloAutorVisualizar,.tagVisualizar p,p.tituloDescricaoVisualizar,p.TituloLocalVisualizar,p.visualizarData, p.tituloTituloVisualizar,p.tituloMateriaisVisualizar{
        font-size: 27px;
        text-align: center;
    }
    .localVisualizar{
        width: 100%;
    }
    .botaoVisualizar{
        padding-bottom: 13px;
    }
    .visualizarBotao{
        font-size: 100%;
        border-radius: 9px;
    }
    .dataLocalVisualizar{
        flex-direction: column;
    }
    .dataVisualizar{
        width: 100%;
    }

}

/*surface duo*/
@media only screen and (min-width: 530px) and (max-width: 550px) and (max-height:720px){
        .tituloModalVisualizar{
        font-size: 24px;
    }
    .visualizar{
        top:5%;
        width: 65vw;
        row-gap: 1px;
    }
    .arteVisualizar{
        width: 100%;
        align-content: center;
    }
    .tagVisualizar{
        width: 100%;
        text-align: center;
    }
    .conteudoTagVisualizar{
        width: 100%;
        align-items: center;
    }
    .conteudoTagVisualizar img{
        width:50%;
        border-radius: 8px;
    }   
    .conteudoArteVisualizar img{
        width: 90%;
        margin-left: 0;
    }   
    .imagensVisualizar{
        flex-direction: column;
        align-items: center;
    }
    .campos{
        width:100%;
    }
    .arteContent{
        width: 100%;
    }
    .ConteudoLocalVisualizar{
        width: 60%;
    }
    p.conteudoAutorVisualizar,p.conteudoTituloVisualizar,.conteudoDescricaoVisualizar,.ConteudoLocalVisualizar,.conteudoLocalVisualizar,.conteudoDataVisualizar,textArea.conteudoMateriaisVisualizar{
        padding: 1%;
        font-size: 18px;
    }
    .arteContent,p.TituloTituloVisualizar,p.tituloAutorVisualizar,.tagVisualizar p,p.tituloDescricaoVisualizar,p.TituloLocalVisualizar,p.visualizarData ,p.tituloTituloVisualizar,p.tituloMateriaisVisualizar{
        font-size:22px;
    }
    .localVisualizar{
        width: 100%;
    }

    .botaoVisualizar{
        padding-bottom: 6px;
    }
    .visualizarBotao{
        font-size:24px;
        border-radius: 9px;
    }
    .dataLocalVisualizar{
        flex-direction: column;
    }
}
/*Nest Hub*/
@media only screen and (min-width:1020px) and (max-width: 1030px) and (max-height:720px){
       .tituloModalVisualizar{
       font-size: 90%;
    }
    .visualizar{
        top: 1.5%;
        width: 80vw;
        row-gap: 4px;
    }
    .arteVisualizar{
        width: 100%;
        align-content: start;
    }
    .tagVisualizar{
        text-align: start;
    }
    .conteudoTagVisualizar{
        width: 80%;
        align-items: start;
    }
    .conteudoTagVisualizar img{
        width:38%;
        background-color: #1E3A5F;
        border-radius: 8px;
        padding: 1%;
    }   
    .conteudoArteVisualizar img{
        width:80%;
        margin-left: 0;
        justify-items: left;
    }   
    .conteudoArteVisualizar{
        padding: 0 0 5px 0;
        align-items: start;
    }
    .campos{
        width:100%;
    }
    .arteContent{
        width: 100%;
       justify-content: left;
       padding-left: 2px;
    }
    .ConteudoLocalVisualizar{
        width: 60%;
    }
    p.conteudoAutorVisualizar,p.conteudoTituloVisualizar,.conteudoDescricaoVisualizar,.ConteudoLocalVisualizar,.conteudoLocalVisualizar,.conteudoDataVisualizar,textArea.conteudoMateriaisVisualizar{
        padding: 1%;
        font-size: 16px;
    }
    .arteContent,p.TituloTituloVisualizar,p.tituloAutorVisualizar,.tagVisualizar p,p.tituloDescricaoVisualizar,p.TituloLocalVisualizar,p.visualizarData ,p.tituloTituloVisualizar,p.tituloMateriaisVisualizar{
        font-size: 19px;
        text-align: start;
    }
    .localVisualizar{
        width:80%;
    }
    .conteudoDataVisualizar{
        padding: 5.49%;
    }
    .botaoVisualizar{
        padding-bottom: 13px;
    }
    .visualizarBotao{
        font-size:20px;
        border-radius: 9px;
    }
    .imagensVisualizar{
        flex-direction: row ;
    }
    .conteudoDescricaoVisualizar,.conteudoMateriaisVisualizar{
        line-height:1rem;
        height: calc(1rem*4);
    }
    .dataLocalVisualizar{
        flex-direction: row;
    }
}
/*Nest Hub max*/
@media only screen and (min-width:1200px) and (max-width: 1300px) and(min-height: 799px) and (max-height:800px){
    .tituloModalVisualizar{
       font-size:100%;
    }
    .visualizar{
        top: 8%;
        width: 80vw;
        row-gap: 4px;
    }
    .arteVisualizar{
        width: 100%;
        align-content: start;
        padding-top: 5px;
    }
    .tagVisualizar{
        text-align: start;
    }
    .conteudoTagVisualizar{
        width: 100%;
        align-items: start;
    }
    .conteudoTagVisualizar img{
        width:45%;
        padding: 1%;
    }   
    .conteudoArteVisualizar img{
        width:88%;
        margin-left: 0;
        justify-items: left;
    }   
    .campos{
        width:100%;
    }
    .arteContent{
        width: 100%;
       justify-content: left;
       padding-left: 2px;
    }
    .ConteudoLocalVisualizar{
        width: 60%;
    }
    p.conteudoAutorVisualizar,p.conteudoTituloVisualizar,.conteudoDescricaoVisualizar,.ConteudoLocalVisualizar,.conteudoLocalVisualizar,.conteudoDataVisualizar,textArea.conteudoMateriaisVisualizar{
        padding: 1%;
        font-size:20px;
    }
    .arteContent,p.TituloTituloVisualizar,p.tituloAutorVisualizar,.tagVisualizar p,p.tituloDescricaoVisualizar,p.TituloLocalVisualizar,p.visualizarData ,p.tituloTituloVisualizar,p.tituloMateriaisVisualizar{
        font-size: 24px;
        text-align: start;
    }
    .localVisualizar{
        width: 80%;
    }
    .conteudoDataVisualizar{
        padding: 5.42%;
    }
    .botaoVisualizar{
        padding-bottom: 13px;
    }
    .visualizarBotao{
        font-size:20px;
        border-radius: 9px;
    }
    .imagensVisualizar{
        flex-direction: row;
    }
    .dataLocalVisualizar{
        flex-direction: row;
    }
}
/*Laptops*/
@media only screen and (min-width:1000px) and (max-width: 1440px) and (min-height:700px){
    .tituloModalVisualizar{
       font-size: 22px;
    }
    .tituloModalVisualizar p{
        padding: 0;
    }
    .visualizar{
        top: 5%;
        width: 60vw;
        row-gap: 3px;
        left: 20%;
    }
    .arteVisualizar{
        width: 100%;
        align-content: center;
        text-align: start;
        align-items: start;
    }
    .arteVisualizar img{
        width: 100%;
    }
    .tagVisualizar{
        text-align: start;
    }
    .conteudoTagVisualizar{
        width: 100%;
        align-items: start;
    }
    .conteudoTagVisualizar img{
        width:40%;
        padding: 1%;
        border-radius: 8px;
    }   
    .conteudoArteVisualizar{
        width: 100%;
    }
    .conteudoArteVisualizar img{
        width:100%;
        margin-left: 0;
    }   
    .campos{
        width:100%;
    }
    .arteContent{
        width: 100%;
        justify-content: left;
        padding-left: 2px;
    }
    .ConteudoLocalVisualizar{
        width: 50%;
    }
    p.conteudoAutorVisualizar,p.conteudoTituloVisualizar,.conteudoDescricaoVisualizar,.ConteudoLocalVisualizar,.conteudoLocalVisualizar,.conteudoDataVisualizar,p.conteudoMateriaisVisualizar,textArea.conteudoMateriaisVisualizar{
        padding: 1%;
        font-size: 16px;
    }
    .arteContent,p.TituloTituloVisualizar,p.tituloAutorVisualizar,.tagVisualizar p,p.tituloDescricaoVisualizar,p.TituloLocalVisualizar,p.visualizarData, p.tituloTituloVisualizar,p.tituloMateriaisVisualizar,p.tituloMateriaisVisualizar{
        font-size: 22px;
        text-align: start;
    }
    .localVisualizar{
        width: 50%;
    }
    .conteudoDataVisualizar{
        width: 100%;
        padding: 0.5%;
    }
    .botaoVisualizar{
        padding-bottom: 13px;
    }
    .visualizarBotao{
        font-size:20px;
        border-radius: 9px;
    }
    .imagensVisualizar{
        flex-direction: row;
    }
    .dataLocalVisualizar{
        flex-direction: row;
    }

}