.modalVisualizar{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(26, 26, 26, 0.466);
    opacity: 0;
    transition: all 0.5s ease;
    top: 0%;
}

.visualizar{
    font-size: 20px;
    color: #1E3A5F;
    font-family: 'Staatliches', sans-serif;
    width: 50vw;
    height: fit-content;
    background-color: #F5F5F5;
    border-radius: 8px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    filter: drop-shadow(5px 5px 10px #000000);
    row-gap: 10px;
    top:7%;
}
.tituloModalVisualizar{
    font-size: 28px;
    padding: 5px 5px;
    text-align: center;
    width: 100%;
    background-color: #1E3A5F;
    color: #F5F5F5;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px ;
}
.visualizarBotao{
    font-family: 'Staatliches', sans-serif;
    width: fit-content;
    height: fit-content;
    background-color: #1E3A5F;
    color: #F5F5F5;
    font-size: 20px;
    padding: 4px 16px;
}

.visualizarBotao:hover {
    transition: all 0.3s;
}
.botaoVisualizar{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 10%;
    padding-top: 5px;
    padding-bottom: 20px;
}
.conteudoTagVisualizar {
    padding: 5px 0 0 0;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
}
.conteudoTagVisualizar img{
    width: 182px;
}
.conteudoArteVisualizar{
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    align-items: start;
    justify-content: center;
}
.arteVisualizar{
    width: 400px;
}
.arteVisualizar img{
    width:100%;
    border-radius: 8px;
}
.dataLocalVisualizar{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    gap: 3%;
}
.conteudoTituloVisualizar,
.conteudoAutorVisualizar,
.conteudoDescricaoVisualizar,
.conteudoLocalVisualizar,
.conteudoDataVisualizar{
    background-color: #1E3A5F;
    width: 100%;
    padding: 8px 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    font-family: 'Urbanist', sans-serif;
    color: #F5F5F5;
}
.conteudoDataVisualizar{
    width: 100%;
    padding: 7px 10px;
    text-align: center;
}
.conteudoLocalVisualizar{
    width: 100%;
}
.arteContent{
    display: flex;
    justify-content: center;
}
.autorVisualizar{
    width: 100%;
    color: #1E3A5F;
}
.dataVisualizar {
    width: fit-content;
    height: 100%;
    
}
.localVisualizar {
    width: 80%;
    height: 100%;
}
.descricaoModalVisualizar{
    width: 90%;
    color:#1E3A5F;
}

.conteudoDescricaoVisualizar{
    resize: none;
    overflow: auto;
    display: block;
    width: 100%;
}

.imagensVisualizar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    gap: 3%;
}
.tagVisualizar{
    align-items: start;
    width: 200px;;
}

.campos{
    display: flex;
    flex-direction: column;
    width: 60%;
}