.modalEditar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.editar{
    width: 40%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:1%;
    background-color: #F5F5F5;
    border-radius: 8px;
    filter: drop-shadow(5px 5px 10px #000000);
    font-family: 'Staatliches', sans-serif;
}
.tituloModalEditar{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E3A5F;
    color: #ffffff;
    border-radius: 8px 8px 0 0;
}
.tituloModalEditar i{
    font-size: 300%;
}
.tituloModalEditar p{
    font-size: 200%;
}
.imagensEditar{
    display: flex;
    width:100%;
}
.arteEditar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
.arteEditar img{
    background-color: #1E3A5F;
    width: 70%;
    padding: 1.5%;
    border-radius: 8px;
}
.tituloPublicacaoEditar, .descricaoModalEditar, .autorEditar, .dataEditar, .localEditar{
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0 0 0 26px;
}
.tituloPublicacaoEditar h1, .descricaoModalEditar h1, .autorEditar h1, .dataEditar h1, .localEditar h1 ,.tagEditar h1, .arteEditar h1{
    font-size: 150%;
    color: #0C1C31;
}
.tituloPublicacaoEditar p, .descricaoModalEditar p, .autorEditar p, .dataEditar p, .locaEditar p{
    width: 95%;
    background-color: #1E3A5F ;
    font-family: 'Urbanist', sans-serif;
    font-size: 120%;
    color: #F5F5F5;
    border-radius: 8px;
    font-size: 18px;
    border: 2px solid #ccc;
    padding: 6px 10px;
}
.tagEditar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px 0 0;
}
.tagEditar img{
    background-color: #1E3A5F;
    border-radius: 8px;
    padding: 3% 1% 1% 1%;
    width: 100%;
}
.botoesEditar{
    display: flex;
    justify-content: center;
    margin: 16px 0 16px 0;
    width: 100%;
    gap: 24px;
}
.botaoCancelarEditar{
    width: 26%;
    background-color: #1E3A5F;
    color: white;
    font-size: 200%;
}
.botaoSalvarEditar{
    width: 26%;
    background-color: #1E3A5F;
    color: white;
    font-size: 200%;
}

