* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 12vh;
    background-color: #1E3A5F;
}

.logo-navbar {
    margin-left: 12px;
    width: 12%;
}

.logo-navbar i{
    display: none;
}


.logo-navbar img{
    width: 100%;
    
}
.links{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 30%;
    height: 100%;
    margin-right: 12px;
    font-family: "Staatliches", sans-serif;
}

.links a{
    text-decoration: none;
    font-size: 200%;
    height: 40%;
}

.HomeButton{
    display: flex;
    align-items: center;
    justify-content: center;
    color :#FF6F00;
    background-color: white;
    border-radius: 12px;
    width: 36%;
    margin-right: 12px;
}

.publicacoesButton{
    display: flex;
    align-items: center;
    justify-content: center;
    color :#8A2BE2;
    background-color: white;
    border-radius: 12px;
    width: 36%;
    margin-right: 12px;
}

.LoginButton{
    display: flex;
    align-items: center;
    justify-content: center;
    color :#41BF76;
    background-color: white;
    border-radius: 12px;
    width: 36%;
}



/*celulares*/
@media only screen and (max-width: 430px) {
    header {
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        height: 10vh;
    }
    
    .logo-navbar{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
        
    }

    .logo-navbar img{
        width: 30%;
    }

    .logo-navbar i{
        display: flex;
        font-size: 200%;
        color:#F5F5F5;
    }

    .links{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        height: 15vh;
        flex-direction: column;
        width: 100%;
        padding-bottom: 4%;
        background-color: #1E3A5F;
        margin-right: 0;

    }

    .links a{
        font-size: 160%;
    }

    .HomeButton{
        color: #F5F5F5;
        background-color: transparent;
        box-shadow: 0px 0px 5px #0c1c31ab;
        margin-bottom: 3%;
        margin-right: 0;
        width: 80%;
    }
    .publicacoesButton{
        color: #F5F5F5;
        background-color: transparent;
        box-shadow: 0px 0px 5px #0c1c31ab;
        margin-bottom: 3%;
        margin-right: 0;
        width: 80%;
    }
    .LoginButton{
        color: #F5F5F5;
        background-color: transparent;
        box-shadow: 0px 0px 5px #0c1c31ab;
        width: 80%;
        
    }
}

/*Tablets*/
@media only screen and (min-width: 431px) and (max-width: 1024px) {
    header {
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        height: 10vh;
    }
    
    .logo-navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo-navbar img{
        width: 20%;
    }

    .logo-navbar i{
        display: flex;
        font-size: 300%;
        color:#F5F5F5;
    }

    .links{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        height: 12vh;
        flex-direction: column;
        width: 100%;
        padding-bottom: 4%;
        background-color: #1E3A5F;
        margin-right: 0;

    }
    .links a{
        font-size: 180%;
    }

    .HomeButton{
        color: #F5F5F5;
        background-color: transparent;
        box-shadow: 0px 0px 5px #0c1c31ab;
        margin-bottom: 2%;
        margin-right: 0;
        width: 56%;
    }
    .publicacoesButton{
        color: #F5F5F5;
        background-color: transparent;
        box-shadow: 0px 0px 5px #0c1c31ab;
        margin-bottom: 2%;
        margin-right: 0;
        width: 56%;
    }
    .LoginButton{
        color: #F5F5F5;
        background-color: transparent;
        box-shadow: 0px 0px 5px #0c1c31ab;
        width: 56%;
        
    }
}