* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagina {
    width: 100%;
    height: 100%;
    padding: 11.8vh 6vw;
    background: url('/public/assets/postIndividual-fundo.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.9;
    font-family: 'Urbanist', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.publicacao {
    width: 84vw;
    padding: 3.15vh;
    background-color: #0C1C31;
    opacity: 0.95;
    border-radius:  0.7vw;
    box-shadow: 0 0.6vh 0.6vh #000000;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.conteudo-principal {
    display: flex;
    gap: 1.5vw;
    align-items: center;
}

.imagem {
    width: 44.2vw;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:  0.7vw;
    box-shadow: 0 0.6vh 0.6vh #1E1E1E;
}

.informacoes {
    width: 34vw;
    height: 82vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo {
    font-family: 'Staatliches', sans-serif;
    font-size: 10.8vh;
    font-weight: 100;
    color: #F5F5F5;
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 2vh; 
}

.autor, .data, .local {
    font-size: 4.5vh;
    font-weight: bold; 
    color: #F5F5F5;
}

.tag {
    width: 15vw;
    height: 15.5vh;
}

.tag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:  0.7vw;
    box-shadow: 0 0.6vh 0.6vh #0D0D0D;
}

.conteudo-complementar {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 2vh;
}

.materiais, .descricao {
    width: 78vw;
    padding: 3vh;
}

h2 {
    font-size: 6vh;
    font-weight: bold; 
    margin-bottom: 1.5vh;
    color: #F5F5F5;
}

p {
    font-size: 4vh;
    color: #F5F5F5;
}

/* Responsividade Tablet */
@media (max-width: 834px) {
    .publicacao {
        width: 90vw;
        padding: 3vh;
    }

    .conteudo-principal {
        flex-direction: column;
        gap: 2vh;
        align-items: flex-start; 
        width: 100%;
    }
    .imagem {
        width: 100%;
        height: auto;
    }
    .informacoes {
        width: 80vw;
        height: 55vh;
        align-items: flex-start;
    }

    .tag {
        width: 25vw;
        height: 15vh;
    }
    
    
    .titulo {
        font-size: 9vh;
    }

    .autor, .data, .local {
        font-size: 3.5vh;
    }

    .materiais, .descricao {
        width: 85vw;
        font-size: 3vh;
        padding: 3px;
    }

    h2 {
        font-size: 5vh;
    }

    p {
        font-size: 3vh;
    }
}

/* Responsividade Celular */
@media (max-width: 390px) {
    .pagina {
        padding: 3vh 5vw;
    }

    .publicacao {
        width: 93vw;
        padding: 1vh;
        border-radius: 3vw;
        box-shadow: 0 0.4vh 0.4vh #000000;
    }

    .conteudo-principal {
        flex-direction: column;
        gap: 3vh;
        align-items: flex-start; 
        width: 100%;
    }

    .imagem {
        width: 90.5vw;
        height: 60vh;
        border-radius: 3vw;
    }

    .informacoes {
        width: 88vw;
        height: 50vh;
        padding: 1vh;
        align-items: flex-start;
    }

    .titulo {
        font-size: 6.5vh;
    }

    .autor, .data, .local {
        font-size: 3vh;
    }

    .tag {
        width: 35vw;
        height: 12vh;
        border-radius: 3vw;
    }

    .conteudo-complementar {
        gap: 2vh;
        margin-top: 2vh;
    }

    .materiais, .descricao {
        width: 88vw;
        font-size: 2.8vh;
        padding: 1vh;
    }

    h2 {
        font-size: 3.5vh;
    }

    p {
        font-size: 2.8vh;
    }
}
