@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
}
.sidebar{
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    font-family: "Staatliches", sans-serif;
}
.conteudo:hover{
    width: 260px;
    align-items: start;
    .texto{
        opacity: 100;
        font-size: 20px;
    };
    .botao-logout {
        grid-template-columns: 1fr 1fr;
    }
    .texto-botao{
        font-size: 20px;
    }
}
.conteudo{
    color: #F5F5F5;
    gap:20px;
    width: 80px;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    background-color: #1E3A5F;
    letter-spacing: 0.3px;
    overflow: hidden;
    .texto {
        opacity: 0;
        font-size: 0px;
        transition: font-size none;
    }
}
.redirecionamento{
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    width: 100%;
    overflow: hidden;
}

.dashboard,
.gerenciar-publicacoes,
.gerenciar-usuarios {
    white-space: nowrap;
    margin: 10px 0;
    padding: 5% 5%;
    align-items: center;
    padding-left: 24px;
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.dashboard:hover,
.gerenciar-publicacoes:hover,
.gerenciar-usuarios:hover {
    transition: all 0.2s ease;
    background-color: #0C1C31;
    border-left: 5px solid #F5F5F5; 
}

.botao-logout:hover{
    transform: scale(1.06);
}

.botao-logout{
    color: #0C1C31;
    font-family: "Staatliches", sans-serif;
    align-self: center;
    border-radius: 8px;
    background-color:#F5F5F5;
    display: grid;
    grid-template-columns: 1fr 0fr;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 35px;
    transition: all 0.2s ease-in-out;
}
.texto-botao{
    font-size: 0px;
    justify-content: center;
    align-items: center;
}