@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
}
.sidebar{
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    font-family: "Staatliches", sans-serif;
}
.conteudo:hover{
    width: 260px;
    align-items: start;
    .texto{
        opacity: 100;
        font-size: 20px;
    };
    .botao-logout {
        grid-template-columns: 1fr 1fr;
    }
    .texto-botao{
        font-size: 20px;
    }
}
.conteudo{
    color: #F5F5F5;
    gap:20px;
    width: 80px;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    background-color: #1E3A5F;
    letter-spacing: 0.3px;
    overflow: hidden;
    .texto {
        opacity: 0;
        font-size: 0px;
        transition: font-size none;
    }
}
.redirecionamento{
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    width: 100%;
    overflow: hidden;
}

.dashboard,
.gerenciar-publicacoes,
.gerenciar-usuarios {
    white-space: nowrap;
    margin: 10px 0;
    padding: 5% 5%;
    align-items: center;
    padding-left: 24px;
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.dashboard:hover,
.gerenciar-publicacoes:hover,
.gerenciar-usuarios:hover {
    transition: all 0.2s ease;
    background-color: #0C1C31;
    border-left: 5px solid #F5F5F5; 
}

.botao-logout:hover{
    transform: scale(1.06);
}

.botao-logout{
    color: #0C1C31;
    font-family: "Staatliches", sans-serif;
    align-self: center;
    border-radius: 8px;
    background-color:#F5F5F5;
    display: grid;
    grid-template-columns: 1fr 0fr;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 35px;
    transition: all 0.2s ease-in-out;
}
.texto-botao{
    font-size: 0px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 430px) {
    .sidebar{
        background-color: #1E3A5F;
        display: grid;
        grid-template-columns: 1fr;
        height: 10vh;
        width: fit-content;     
        margin: auto;
        align-items: center;
        justify-content: center;
        padding: 0% 10%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .logotipo{
        display: none;
    }
    .botao-logout{
        position: relative;
        align-items: center;
        align-self: center;
        bottom: 0;
        margin-left: 7%;
        
    }
    .conteudo{
        gap: 0;
        width: fit-content;
        flex-direction: row;
        height: 10vh;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .conteudo:hover{
        width: fit-content;
        align-items: center;
        justify-content: center;
        .texto {
            opacity: 0;
            font-size: 0px;
        };
        .texto-botao {
            font-size: 0px;
        }
        .botao-logout {
            grid-template-columns: 1fr 0fr;
        }
    }
    .redirecionamento{
        flex-direction: row;
        width: auto;
        justify-content: center;
        gap: 10%;
    }
    .dashboard,
    .gerenciar-publicacoes,
    .gerenciar-usuarios {
        margin: 0;
        padding: 5% 5%;
        width: 70px;
        display: grid;
        grid-template-rows: 1fr;
        gap: 2px;
        justify-content: center;
        align-items: center;
    }
    .icone {
        align-items: center;
        margin: auto;
        width: 30px;
        height: 30px;
    }

    .dashboard:hover,
    .gerenciar-publicacoes:hover,
    .gerenciar-usuarios:hover {
        background-color:transparent;
        border-left: none;
    }

    .dashboard:hover{
        transition: all 0.5s ease;
        align-items: center;
        width: auto;
        overflow: visible;
        .texto{
            font-size: 12px;
            opacity: 100%;
            letter-spacing: 0.4px;
        }
    }
    .gerenciar-publicacoes:hover {
        transition: all 0.5s ease;
        align-items: center;
        width: auto;
        overflow: visible;
        .texto {
            text-align: center;
            font-size: 12px;
            opacity: 100%;
            letter-spacing: 0.4px;
            white-space: normal;
        }
    }

    .gerenciar-usuarios:hover {
        transition: all 0.5s ease;
        align-items: center;
        width: auto;
        overflow: visible;

        .texto {
            text-align: center;
            font-size: 12px;
            opacity: 100%;
            letter-spacing: 0.4px;
            white-space: normal;
        }
    }

    .botao-logout:hover {
        transform: scale(1.0);
    }
}