@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
}
.sidebar{
    padding: 0;
    display: grid;
    grid-template-columns: 270px 1fr;
    height: 100vh;
}
.conteudo{
    color: white;
    font-size: 20px;
    padding: 5% 5%;
    background-color: #1E3A5F;
    font-family: "Staatliches", sans-serif;
    letter-spacing: 0.3px;
}
.dashboard,
.gerenciar-publicacoes,
.gerenciar-usuarios {
    margin: 10px 0;
    padding: 5% 5%;
    text-align: left;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}