<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de usuários</title>

    <link rel="stylesheet" href="../../../public/css/Lista-de-Usuarios.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="fundo">
        <div class="descricao">
            <div class="Titulo">
                <img src="../../../public/assets/LogoRastrosDeRua.png" alt="Logo Rastros de Rua Rato">
                <h1>Tabela de Usuários</h1>
            </div>
            <div class="createButton">
                <i class="bi bi-clipboard-plus"></i>
                Criar Usuário
            </div>
        </div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Nome de Usuário</th>
                    <th>Operações</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Email@email.com</td>
                    <td>Usuário</td>
                    <td class="operacoes">
                        <i class="bi bi-eye-fill"></i>
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash-fill"></i>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Email@email.com</td>
                    <td>Usuário</td>
                    <td class="operacoes">
                        <i class="bi bi-eye-fill"></i>
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash-fill"></i>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Email@email.com</td>
                    <td>Usuário</td>
                    <td class="operacoes">
                        <i class="bi bi-eye-fill"></i>
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash-fill"></i>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Email@email.com</td>
                    <td>Usuário</td>
                    <td class="operacoes">
                        <i class="bi bi-eye-fill"></i>
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash-fill"></i>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Email@email.com</td>
                    <td>Usuário</td>
                    <td class="operacoes" >
                        <i class="bi bi-eye-fill"></i>
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash-fill"></i>
                    </td>
                </tr>
            </table>
        
    <div class="paginacao"> 
        <a class="skip">
            <i class="bi bi-skip-backward"></i>
        </a>
            <a class="paginas">
                <p> 1 </p>
            </a>
            <a class="paginas">
                <p> 2 </p>
            </a>
            <a class="paginas">
                <p> 3 </p>
            </a>
            <a class="paginas">
                <p> 4 </p>
            </a >
        <a class="skip">
            <i class="bi bi-skip-forward"></i>
        </a>
    </div>
</div>
</body>
<script src="../../../public/js/Lista-de-Usuarios.js"></script>
</html>