<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de usuários</title>

    <link rel="stylesheet" href="../../../public/css/Lista-de-Usuarios.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
        <div class="descricao">
            <div class="botoes">
                <div class="admButton">Administradores</div>
                <div class="userButton">Usuários</div>
            </div>
            <div class="createButton">
                <i class="bi bi-clipboard-plus"></i>
                Criar Usuário
            </div>
        </div>
        
            <table>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Nome de Usuário</th>
                    <th>Operações</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Email@email.com</td>
                    <td>Usuário</td>
                    <td>
                        <i class="bi bi-eye-fill"></i>
                        <i class="bi bi-pencil"></i>
                        <i class="bi bi-trash"></i>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Email@email.com</td>
                    <td>Usuário</td>
                    <td>
                        <i class="bi bi-eye-fill"></i>
                        <i class="bi bi-pencil"></i>
                        <i class="bi bi-trash"></i>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Email@email.com</td>
                    <td>Usuário</td>
                    <td>
                        <i class="bi bi-eye-fill"></i>
                        <i class="bi bi-pencil"></i>
                        <i class="bi bi-trash"></i>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Email@email.com</td>
                    <td>Usuário</td>
                    <td>
                        <i class="bi bi-eye-fill"></i>
                        <i class="bi bi-pencil"></i>
                        <i class="bi bi-trash"></i>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Email@email.com</td>
                    <td>Usuário</td>
                    <td>
                        <i class="bi bi-eye-fill"></i>
                        <i class="bi bi-pencil"></i>
                        <i class="bi bi-trash"></i>
                    </td>
                </tr>
            </table>
        
    <div class="paginacao"> 
    </div>
</body>
</html>