<!DOCTYPE html>
<html lang="pt-BR">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mapa</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <link rel="stylesheet" href="../../../public/css/mapa.css"/>
</head>
<body>
        <p>Mapa do modal</p>
        <div id="map" style="height: 250px; width: 100%; margin-bottom: 30px;"></div>
        <p>Mapa do post</p>
        <div id="map2" style="height: 250px; width: 100%;"></div>
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script src="../../../public/js/scriptsMapa.js"></script>         
</body>
</html>
