<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <title>Tabela de Publicações</title>
    <link rel="stylesheet" href="/public/css/pagina-de-posts-admin.css">
    <link rel="stylesheet" href="/public/css/modalVisualizar.css">
</head>
<body>
    <div class="pagina">
        <div class="descricao">
            <div class="nome-tabela">
                <div class="mascote">
                    <img src="/public/assets/Mascote.png" alt="Mascote">
                </div>
                <div>
                    <h1>Tabela de Posts</h1>
                </div>
            </div>
            <button class="botaoadicionar">
                <div class="icone">
                    <i class="bi bi-plus-square-fill"></i>
                </div>
                <div class="texto-botao">
                    Criar Publicação
                </div>
            </button>
        </div>
        <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Data</th>
                        <th>Operações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="post">
                        <td>1</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>01/01/2025</td>
                        <td class="operacoes">
                            <button><i class="bi bi-eye-fill" onclick="abrirModal('fundo','modal')"></i></button>
                            <button><i class="bi bi-pencil-square"></i></button>
                            <button><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                    <tr class="post">
                        <td>2</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>02/01/2025</td>
                        <td class="operacoes">
                            <button><i class="bi bi-eye-fill"  onclick="abrirModal('fundo','modal')"></i></button>
                            <button><i class="bi bi-pencil-square"></i></button>
                            <button><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                    <tr class="post">
                        <td>3</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>03/01/2025</td>
                        <td class="operacoes">
                            <button><i class="bi bi-eye-fill"  onclick="abrirModal('fundo','modal')"></i></button>
                            <button><i class="bi bi-pencil-square"></i></button>
                            <button><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                    <tr class="post">
                        <td>4</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>04/01/2025</td>
                        <td class="operacoes">
                            <button><i class="bi bi-eye-fill"  onclick="abrirModal('fundo','modal')"></i></button>
                            <button><i class="bi bi-pencil-square"></i></button>
                            <button><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                    <tr class="post">
                        <td>5</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>05/01/2025</td>
                        <td class="operacoes">
                            <button><i class="bi bi-eye-fill"  onclick="abrirModal('fundo','modal')"></i></button>
                            <button><i class="bi bi-pencil-square"></i></button>
                            <button><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="paginacao">
            <a href="" class="skip">
                <i class="bi bi-skip-backward"></i>
            </a href="">
                <a href="" class="paginas">
                    <p> 1 </p>
                </a href="">
                <a href="" class="paginas">
                    <p> 2 </p>
                </a href="">
                <a href="" class="paginas">
                    <p> 3 </p>
                </a href="">
                <a href="" class="paginas">
                    <p> 4 </p>
                </a href="">
            <a href="" class="skip">
                <i class="bi bi-skip-forward"></i>
            </a href="">
        </div>
    </div>
    <!--Modal Criar-->
    <div class="modal-criar">
        <div class="conteudo-modal">
            <div class="titulo-modal">
                <p>Criar Publicação</p>
            </div>
            <div class="adicionar-imagem">   
                <input id="inputImagem" class="custom-input-img" type="file ">
                <label for="inputImagem" class="custom-label">Selecionar arquivo de imagem</label>
            </div>
            <div class="campo-titulo">
                <p>Título</p>
                <input class="input-titulo" type="text" placeholder="Insira o Título">
            </div>
            <div class="campo-descricao">
                <p>Descrição</p>
                <input class="input-descricao" type="text" placeholder="Insira a Descrição">
            </div>
            <div class="campo-autor">
                <p>Autor</p>
                <input class="input-autor" type="text" placeholder="Insira o Autor">
            </div>
            <div class="campo-data">
                <p>Data de Criação</p>
                <input class="input-data-automatica" type="date" readonly>
            </div>   
            <div class="botoes-modal">
                <button class="botao-modal">Criar</button>
                <button class="botao-modal">Cancelar</button>
            </div>
        </div>
    </div>
    <!--Modal visualizar-->
    <div class="modalVisualizar" id="fundo">
        <div class="modal" id="modal">
            <div class="tituloModal">
                <i class="bi bi-window"></i>
                <p>visualizar Publicação</p>
            </div>
            <div class="imagem">   
                <img src="/public/assets/imagemTeste.jpg" alt="Mascote">
            </div>
            <div class="tituloPublicacao">
                <h1>Título</h1>
                <p>Lorem Ipsum</p>
            </div>
            <div class="descricaoModal">
                <h1>Descrição</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad nobis quod fuga obcaecati beatae aperiam temporibus dolor voluptatem et, saepe fugit. Totam quod error pariatur explicabo animi provident voluptas veniam?</p>
            </div>
            <div class="autor">
                <h1>Autor</h1>
                <p>Lorem Ipsum</p>
            </div>
            <div class="data">
                <h1>Data de Criação</h1>
                <p>01/01/2025</p>
            </div>   
            <div class="botao">
                <button class="botaoFechar" onclick="fecharModal('fundo','modal')">Fechar</button>
            </div>
        </div>
    </div>
</body>
<script src="../../../public/js/modal.js"></script>
</html>