<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <title>Tabela de Publicações</title>
    <link rel="stylesheet" href="/public/css/pagina-de-posts-admin.css">
    <link rel="stylesheet" href="/public/css/modalVisualizar.css">
    <link rel="stylesheet" href="/public/css/modalEditar.css">
    <link rel="stylesheet" href="/public/css/modalCriar.css">
</head>
<body>
    <div class="pagina">
        <div class="descricao">
            <div class="nome-tabela">
                <div class="mascote">
                    <img src="/public/assets/Mascote.png" alt="Mascote">
                </div>
                <div>
                    <h1>Tabela de Posts</h1>
                </div>
            </div>
            <button class="botaoadicionar" onclick="abrirModal('fundo-modal-criar', 'id-modal-criar')">
                <div class="icone">
                    <i class="bi bi-plus-square-fill"></i>
                </div>
                <div class="texto-botao">
                    Criar Publicação
                </div>
            </button>
        </div>
        <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Data</th>
                        <th>Operações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="post">
                        <td>1</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>01/01/2025</td>
                        <td class="operacoes">
                            <button><i class="bi bi-eye-fill" onclick="abrirModal('fundoVisualizar','modalVisualizar')"></i></button>
                            <button><i class="bi bi-pencil-square" onclick="abrirModal('fundoEditar','modalEditar')"></i></button>
                            <button><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                    <tr class="post">
                        <td>2</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>02/01/2025</td>
                        <td class="operacoes">
                            <button><i class="bi bi-eye-fill"  onclick="abrirModal('fundoVisualizar','modalVisualizar')"></i></button>
                            <button><i class="bi bi-pencil-square" onclick="abrirModal('fundoEditar','modalEditar')"></i></button>
                            <button><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                    <tr class="post">
                        <td>3</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>03/01/2025</td>
                        <td class="operacoes">
                            <button><i class="bi bi-eye-fill"  onclick="abrirModal('fundoVisualizar','modalVisualizar')"></i></button>
                            <button><i class="bi bi-pencil-square" onclick="abrirModal('fundoEditar','modalEditar')"></i></button>
                            <button><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                    <tr class="post">
                        <td>4</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>04/01/2025</td>
                        <td class="operacoes">
                            <button><i class="bi bi-eye-fill"  onclick="abrirModal('fundoVisualizar','modalVisualizar')"></i></button>
                            <button><i class="bi bi-pencil-square" onclick="abrirModal('fundoEditar','modalEditar')"></i></button>
                            <button><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                    <tr class="post">
                        <td>5</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>05/01/2025</td>
                        <td class="operacoes">
                            <button><i class="bi bi-eye-fill"  onclick="abrirModal('fundoVisualizar','modalVisualizar')"></i></button>
                            <button><i class="bi bi-pencil-square" onclick="abrirModal('fundoEditar','modalEditar')"></i></button>
                            <button><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="paginacao">
            <a href="" class="skip">
                <i class="bi bi-skip-backward"></i>
            </a href="">
                <a href="" class="paginas">
                    <p> 1 </p>
                </a href="">
                <a href="" class="paginas">
                    <p> 2 </p>
                </a href="">
                <a href="" class="paginas">
                    <p> 3 </p>
                </a href="">
                <a href="" class="paginas">
                    <p> 4 </p>
                </a href="">
            <a href="" class="skip">
                <i class="bi bi-skip-forward"></i>
            </a href="">
        </div>
    </div>
    <!--Modal Criar-->
    <div class="modal-criar" id="fundo-modal-criar">
        <div class="conteudo-modal" id="id-modal-criar">
            <div class="titulo-modal">
                <p>Criar Publicação</p>
            </div>
            <div class="imagens-inputs">
                <div class="adicionar-arte">
                    <div>Arte</div>
                    <div class="input-arte"> 
                        <input id="inputArte" class="custom-input-img" type="file">
                        <label id="labelArte"for="inputArte" class="custom-label-art">Selecionar imagem da arte <img src="/public/assets/icone-imagem.svg" style="height: 70px" /> 
                        </label>
                        
                        <img id="previewArte" src="" alt="Pré-visualização" style="display: none;"/>
                    </div>
                </div>
                <div class="campos-direita">
                    <div class="campo-titulo">
                        <p>Título</p>
                        <input class="input-titulo" type="text" placeholder="Insira o Título">
                    </div>
                    <div class="campo-autor">
                        <p>Autor</p>
                        <input class="input-autor" type="text" placeholder="Insira o Autor">
                    </div>
                    <div class="adicionar-tag">
                        <p>Tag</p>
                        <div class="input-tag">
                            <input id="inputTag" class="custom-input-img" type="file">
                            <label id="labelTag" for="inputTag" class="custom-label-tag">Selecionar imagem da tag <img src="/public/assets/icone-imagem.svg" style="height: 40px; display: block;" />
                            </label>
                            <img id="previewTag" src="" alt="Pré-visualização" style="display: none;" />
                        </div>
                    </div>
                </div>
            </div>  
            <div class="campo-descricao">
                <p>Descrição</p>
                <textarea class="input-descricao" rows="5" cols="10" placeholder="Insira a Descrição"></textarea>
            </div>
            <div class="local-e-data">
                <div class="campo-local">
                    <p>Local</p>
                    <input class="input-local" type="text" placeholder="Insira o Local">
                </div>
                <div class="campo-data">
                    <p>Data de Criação</p>
                    <input class="input-data-automatica" type="date" readonly>
                </div>
            </div>
            <div class="botoes-modal">
                <button class="botao-modal botao-modal-criar">Criar</button>
                <button class="botao-modal botao-modal-cancelar" onclick="fecharModal('fundo-modal-criar','id-modal-criar')">Cancelar</button>
            </div>
        </div>
    </div>
    <!-- Modal Deletar -->
    <!-- <div class="modal-deletar" id="fundo-modal-deletar">
        <div class="conteudo-modal" id="id-modal-criar">
            <div class="titulo-modal">
                <p>Excluir Publicação</p>
            </div>
            <div class="botoes-modal">
                <button class="botao-modal botao-modal-criar">Criar</button>
                <button class="botao-modal botao-modal-cancelar"
                    onclick="fecharModal('fundo-modal-criar','id-modal-criar')">Cancelar</button>
            </div>
        </div>
    </div> -->
    <!--Modal visualizar-->
    <div class="modalVisualizar" id="fundoVisualizar">
        <div class="visualizar" id="modalVisualizar">
            <div class="tituloModalVisualizar">
                <p>Visualizar Publicação</p>
            </div>
            <div class="imagensVisualizar">
                <div class="arteVisualizar">
                    <div class="arteContent">Arte</div>
                    <div class="conteudoArteVisualizar"> 
                        <img src="../../../public/assets/imagemTeste.jpg" alt="Arte">
                    </div>
                </div>
                <div class="campos">
                    <div class="tituloPublicacaoVisualizar">
                        <p>Título</p>
                        <p class="conteudoTituloVisualizar">Lorem ipsum</p>
                    </div>
                    <div class="autorVisualizar">
                        <p>Autor</p>
                        <p class="conteudoAutorVisualizar">Lorem ipsum</p>
                    </div>
                    <div class="tagVisualizar">
                        <p>Tag</p>
                        <div class="conteudoTagVisualizar">
                            <img src="../../../public/assets/Imagem Tag.png" alt="Tag">
                        </div>
                    </div>
                </div>
            </div>  
            <div class="descricaoModalVisualizar">
                <p>Descrição</p>
                <p class="conteudoDescricaoVisualizar">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione eius molestiae voluptas nihil reiciendis quasi fugiat, quas corrupti impedit distinctio praesentium? Delectus, expedita? Praesentium quia sequi alias neque natus esse?</p>
            </div>
            <div class="dataLocalVisualizar">
                <div class="localVisualizar">
                    <p>Local</p>
                    <p class="conteudoLocalVisualizar">Juiz de Fora</p>
                </div>
                <div class="dataVisualizar">
                    <p>Data de Criação</p>
                    <p class="conteudoDataVisualizar">01/01/2025</p>
                </div>
            </div>
            <div class="botaoVisualizar">
                <button class="visualizarBotao" onclick="fecharModal('fundoVisualizar','modalVisualizar')">Fechar</button>
            </div>
        </div>
    </div>
        <!--Modal editar-->
        <div class="modalEditar" id="fundoEditar">
            <div class="editar" id="modalEditar">
                <div class="tituloModalEditar">
                    <i class="bi bi-pencil-fill"></i>
                    <p>Editar Publicação</p>
                </div>
                <div class="imagensEditar">   
                    <div class="arteEditar">
                        <h1>arte</h1>
                        <div class="conteudoArteEditar">
                            <img src="/public/assets/imagemTeste.jpg" alt="Mascote" >
                            <i class="bi bi-pencil-square">Selecionar nova imagem</i>
                        </div>
                    </div>
                    <div class="tagEditar">
                        <h1>tag</h1>
                        <div class="conteudoTagEditar">
                            <img src="/public/assets/Imagem Tag.png" alt="Tag do autor">
                            <i class="bi bi-pencil-square">Selecionar nova imagem</i>
                        </div>
                    </div>
                </div>
                <div class="tituloPublicacaoEditar">
                    <h1>Título</h1>
                    <div class="conteudoTituloEditar">
                        <p>Lorem Ipsum</p>
                        <i class="bi bi-pencil-square"></i>
                    </div>
                </div>
                <div class="descricaoModalEditar">
                    <h1>Descrição</h1>
                    <div class="conteudoDescricaoEditar">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad nobis quod fuga obcaecati beatae aperiam temporibus dolor voluptatem et, saepe fugit. Totam quod error pariatur explicabo animi provident voluptas veniam?</p>
                        <i class="bi bi-pencil-square"></i>
                    </div>
                </div>
                <div class="autorEditar">
                    <h1>Autor</h1>

                    <div class="conteudoAutorEditar">
                        <p>Lorem Ipsum</p>
                        <i class="bi bi-pencil-square"></i>
                    </div>
                </div>
                <div class="localEditar">
                    <h1>Local</h1>
                    <div class="conteudoLocalEditar">
                        <p>Lorem Ipsum</p>
                        <i class="bi bi-pencil-square"></i>
                    </div>
                    
                </div>
                <div class="dataEditar">
                    <h1>Data de Criação</h1>
                    <div class="conteudoDataEditar">
                        <p>01/01/2025</p>
                        <i class="bi bi-pencil-square"></i>
                </div>   
                <div class="botoesEditar">
                    <button class="botaoCancelarEditar" onclick="fecharModal('fundoEditar','modalEditar')">Cancelar</button>
                    <button class="botaoSalvarEditar" onclick="fecharModal('fundoEditar','modalEditar')">Salvar</button>
                </div>
            </div>
        </div>
</body>
<script src="../../../public/js/modal.js"></script>
<script src="../../../public/js/exibirPreview.js"></script>
</html>