<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/sidebar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <title>Sidebar</title>
</head>

<body>
    <div class="sidebar">
        <div class="conteudo-sidebar">
            <div class="logotipo">
                <img src="../../../public/assets/logo-sidebar.png   ">
            </div>
            <div class="conteudo-interno-sidebar">
                <div class="redirecionamento">
                    <div class="dashboard">
                        <i class="bi bi-columns-gap"></i>
                        <span class="texto">Dashboard</span>
                    </div>
                    <div class="gerenciar-publicacoes">
                        <i class="bi bi-file-earmark-richtext"></i>
                        <span class="texto">Publicações</span>
                    </div>
                    <div class="gerenciar-usuarios">
                        <i class="bi bi-people-fill"></i>
                        <span class="texto">Usuários</span>
                    </div>
                </div>
                <div class="botao-logout-sidebar">
                    <button class="botao-logout">
                        <div logo-logout>
                            <i class="bi bi-box-arrow-right"></i>
                        </div>
                        <span class="texto-botao">Logout</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>