<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastros de rua</title>
    <link rel="stylesheet" href="../../../public/css/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>

<div class="fundo">
    <div class="texto">
        <h1>Login</h1>
    </div>
    <form class="infos">
        <div class="email">
            <p class="tituloEmail">Email</p>
            <input type="email" id="email" name="email" required>

        </div>
        <div class="senha">
            <label class="tituloSenha">Senha</label>
            <input type="password" id="senha" name="senha" required>
        </div>
    </form>
    <div class="botao">
        <button type="submit" class="entrarBotao">
            <div class="textoBotao">Entrar</div>
        </button>
    </div>
</div>


</body>
</html>