<!DOCTYPE html>
<html lang="pt-BR">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mapa da Publicação</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <link rel="stylesheet" href="../../../public/css/mapa.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"rel="stylesheet">
</head>
<body>  
        <div class="pag-mapa-post">
                <div class="titulo-mapa-post">
                        <p>Visualizar localização da arte</p>
                </div>
                <div class="conteudo-mapa-post">
                        <div id="map2"></div>
                </div> 
        </div>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="../../../public/js/mapas.js"></script>
        <script src="../../../public/js/mapaPost.js"></script>
</body>
</html>