<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastros de Rua</title>

    <link rel="stylesheet" href="../../../public/css/navbar.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="logo-navbar">
            <img src="../../../public/assets/Logo Branca.png" alt="Logo Branca">
        </div>

        <div class="links">
            <a class="HomeButton" href="/home">Home</a>
            <a class= "publicacoesButton" href="/publicacoes">Publicações</a>
            <a class= "LoginButton" href="/login">Login</a>
        </div>

    </header>
    
    
</body>
</html>