@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../../../public/assets/pagina-inicial-background.jpg') center/cover no-repeat fixed;
    padding: 10px 5vw;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    font-family: "Staatliches", sans-serif;
}

.grade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 100%;
    place-items: center;
}

.heroSection {
    padding: 2vw 3vw;
}

.titulo {
    font-family: "Staatliches", sans-serif;
    filter: drop-shadow(5px 5px 24px #000000);
    color: #F5F5F5;
    font-size: 135px;
    line-height: 0.9;
    margin-bottom: 3%;
    margin-top: 10%;
}

.descricao {
    margin-top: 0%;
    margin-bottom: 3.5%;
    color: #F5F5F5;
    font-size: 26px;
    filter: drop-shadow(5px 5px 24px #000000);
    letter-spacing: 1px;
    line-height: 1.2;
}

.botaoVerMais {
    font-family: "Staatliches", sans-serif;
    background-color: #1E3A5F;
    color: #F5F5F5;
    border-radius: 8px;
    font-size: 2.3vw;
    border: none;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.7);
    padding: 0.5vh 1vw;
    transition: all 0.2s ease-in-out;
}

.botaoVerMais:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
    transform: scale(1.05);
    background-color: #254a73;
}

.ultimasPublicacoes {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 95vh;
    width: 65%;
    padding: 2% 3%;
    background: rgba(13, 13, 13, 0.6);
    border-radius: 8px;
    border: 1px solid rgba(13, 13, 13, 0.23);
    align-items: center;
}

.swiper {
    display: flex;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    flex-direction: column;
}

/* Botões como blocos */
.navegacao-cima,
.navegacao-baixo {
    position: static;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Ícones do swiper */
.swiper-button-prev::after,
.swiper-button-next::after {  
    font-size: 25px;
    color: #F5F5F5;
    transform: rotate(90deg);
    margin-top: 0%;
    margin-bottom: 0%;
}
.card-carrossel {
    width: 70%;
    height: 30vh;
    margin: auto; 
    padding: 3%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(13, 13, 13, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(13, 13, 13, 0.23);
    box-shadow: inset 0px 4px 8px rgba(241, 236, 236, 0.3);
}

.titulo-carrossel {
    color: #F5F5F5;
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;
    filter: drop-shadow(5px 5px 10px #000000);
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.imagem-card{
    width: 100%;
    max-height: 40vh;
    overflow: hidden;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.imagem-obra {
    width: 100%;
    object-fit: fill;
}

.titulo-card {
    color: #F5F5F5;
    letter-spacing: 2px;
    font-size: 22px;
    text-align: center;
    filter: drop-shadow(5px 5px 10px #000000);
    padding: 3px 15px;
    margin-bottom: 0;
    margin-top: 1%;
}

.descricao-card {
    font-family: "Urbanist", sans-serif;
    color: #F5F5F5;
    font-size: 12px;
    text-align: justify;
    filter: drop-shadow(5px 5px 10px #000000);
    margin-top: 0%;
    margin-bottom: 2%;
}

/*Laptops*/
@media only screen and (max-width: 1024px) {
    .titulo-carrossel {
        font-size: 25px;
    }
    .titulo-card {
        font-size: 14px;
    }
    
    .descricao-card {
        font-size: 10px;
    }
    .card-carrossel {
        width: 75%;
        height: 30vh;
        padding: 2%;
    }
    .titulo{
        font-size: 100px;
    }
    .descricao{
        font-size: 20px;
    }
}
/* Tablets */
@media only screen and (max-width: 768px) {
    .card-carrossel {
        width: 90%;
        height: 30vh;
        padding: 2%;
    }
    .grade {
        gap: 10px;
    }

    .titulo {
        font-size: 100px;
    }

    .descricao {
        font-size: 20px;
    }

    .titulo-carrossel {
        font-size: 20px;
    }

    .titulo-card {
        font-size: 15px;
    }

    .descricao-card {
        font-size: 10px;
    }

    .ultimasPublicacoes {
        width: 80%;
        padding: 10px 30px;
    }
}

/* Celulares */
@media (max-width: 425px) {
    .body {
        height: auto;
    }

    .titulo {
        margin-top: 0%;
        font-size: 14vw;
    }

    .heroSection {
        margin-top: 0%;
        padding: 4vw 5vw;
    }

    .grade {
        grid-template-columns: 1fr;
        place-items: center;
        width: 100%;
    }

    .imagem-card {
        width: 100%;
        height: auto;
    }

    .titulo-card {
        font-size: 15px;
        padding: 3px 15px;
    }

    .descricao-card {
        font-size: 2vw;
        text-align: justify;
        padding: 0px 10px;
    }

    .descricao {
        margin-top: 1vh;
        margin-bottom: 1vh;
        font-size: 3vw;
    }

    .botaoVerMais {
        font-size: 4vw;
        padding: 2px 5px;
        border-radius: 5px;
    }

    .titulo-carrossel {
        font-size: 20px;
    }

    .ultimasPublicacoes {
        width: 70%;
        padding: 1vw 2vw;
    }
}