<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicação Individual</title>
    <link rel="stylesheet" href="/public/css/postIndividual.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="pagina">
        <div class="publicacao">
            <div class="conteudo-principal">
                <div class="imagem">
                    <img src="/public/assets/postIndividual-imgPrincipal.jpg" alt="Imagem da Publicação">
                </div>
                <div class="informacoes">
                    <h1 class="titulo">Lorem Ipsum</h1>
                    <div class="dados">
                        <p class="autor"><strong>Autor:</strong> Lorem Ipsum</p>
                        <p class="data"><strong>Data:</strong> 01/04/2025</p>
                        <p class="local"><strong>Local:</strong> Lorem Ipsum</p>
                    </div>
                    <div class="tag">
                        <img src="/public/assets/postIndividual-tag-assinatura.jpg" alt="Imagem da Tag">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
